* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  min-width: 1271px;
  height: 6575px;
  font-family: "Roboto";
}

.what-to-learn {
  height: 600px;
}

.what-to-learn h1 {
  width: 667px;
  height: 93px;
  font-family: "Roboto Slab";
  font-size: 55px;
  font-weight: 700;
  margin-left: 121px;
}

.what-to-learn ul {
  width: 662px;
  margin-left: 138px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px; 
  padding-left: 15px;
}

.course-program h1 {
  font-family: "Roboto Slab";
  font-size: 55px;
  font-weight: 700;
  margin-left: 121px;
}

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 37px;
}

.steps section {
  width: 399px;
  height: 328px;
  border-radius: 30px;
  box-shadow: 1px 1px 15px 0px #00000040;
  margin-top: 20px;
}

#second-part img {
  width: 399px;
  height: 160px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.steps h2 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 20px;
}

.steps p {
  font-size: 25px;
}

#line {
  line-height: 29.1px;
}

.program-date {
  margin: 10px auto 0px 20px;
}

.program-name {
  margin: 0px auto 15px 20px;
}

@media screen and (max-width: 834px) and (min-width: 376px) {

  .what-to-learn {
    height: 350px;
  }

  .what-to-learn h1 {
    width: 386.3px;
    height: 53.86px;
    font-size: 32px;
    margin-left: 70px;
  }

  .what-to-learn ul {
    width: 383.41px;
    height: 216.61px;
    font-size: 14px;
    margin-left: 70px;
  }

  .course-program h1 {
    margin-left: 70px;
    font-size: 32px;
  }

  .steps {
    display: flex;
    gap: 20px;
    position: relative;
    left: -35px;
    top: -50px;
  }

  .steps section {
    width: 231.09px;
    height: 189.97px;
  }

  #second-part img {
    width: 231.09px;
    height: 92.67px;
  }

  .steps h2 {
    font-size: 14px;
  }
  
  .steps p {
    font-size: 17px;
  }

  #line {
    line-height: 16.49px;
  }
}

@media screen and (min-width: 376px) and (max-width: 1270px) {
  .what-to-learn {
    height: 200px;
  }

  /*.what-to-learn h1 {
    width: 386.3px;
    height: 53.86px;
    font-size: 32px;
    margin-left: 70px;
  }

  .what-to-learn ul {
    width: 383.41px;
    height: 216.61px;
    font-size: 14px;
    margin-left: 70px;
  }

  .course-program h1 {
    margin-left: 70px;
    font-size: 32px;
  }

  .steps {
    display: flex;
    gap: 20px;
    position: relative;
    left: -35px;
    top: -50px;
  }

  .steps section {
    width: 231.09px;
    height: 189.97px;
  }

  #second-part img {
    width: 231.09px;
    height: 92.67px;
  }

  .steps h2 {
    font-size: 14px;
  }
  
  .steps p {
    font-size: 17px;
  }

  #line {
    line-height: 16.49px;
  } */
}